PngImage_1 RCDATA "skins\\theme_light.png"
PngImage_2 RCDATA "skins\\theme_luna.png"
PngImage_3 RCDATA "skins\\theme_obsidian.png"
PngImage_4 RCDATA "skins\\theme_silver.png"
PngImage_5 RCDATA "skins\\theme_smokey_quatz_kamri.png"
PngImage_6 RCDATA "skins\\theme_windows10.png"
PngImage_7 RCDATA "skins\\theme_windows10_blue.png"
PngImage_8 RCDATA "skins\\theme_windows10_SlateGray.png"
PngImage_9 RCDATA "skins\\theme_windows11_dark.png"
PngImage_10 RCDATA "skins\\theme_windows11_light.png"
